[id$=indexBody]{
    background-color: black;
}


[id$=head1]{
    color: #299617;
    text-align: center;
    font-family: "Trebuchet MS";
}

[id$=para1]{
    color: #299617;
    font-family: "Arial";
}

[id$=para2]{
    color: #299617;
    border: 1px solid #299617;
    border-radius: 2px;
}

[id$=log_in]{
    color: #299617;
    font-family: "Arial";
}

[id$=reg_ister]{
    color: #299617;
    font-family: "Arial";
}

[id$=log_out]{
    color: #299617;
    font-family: "Arial";
}

[id$=indexOption]{
    color: #299617;
    text-align: center;
    font-family: "Trebuchet MS";
}