[id$=loginBody]{
background-color: black;
text-align: center;
color: #299617;
text-align: center;
font-family: "Trebuchet MS";    
}

[id$=login_form]{
    color: #299617;
    text-align: center;
    font-family: "Trebuchet MS";
}

[id$=head2Login]{
    color: #299617;
    text-align: center;
    font-family: "Trebuchet MS";
}
[id$=loginText]{
    color: #299617;
    text-align: center;
    font-family: "Trebuchet MS";
    padding-top: 500px;
}
