.bo_dy3{
    background-color: black;
    
}
.employ_color{
    color: #299617;
    font-family: "Arial";
    
}
.email_color{
    color: #299617;
    font-family: "Arial";
}
.pass_color{
    color: #299617; 
    font-family: "Arial";
}

.confirm_color{
    color: #299617;
    font-family: "Arial";
}
.para_three{
    color: #299617;
    font-family: "Arial";
    
}