[id$=registerBody] {
    background-color: black;   
}

[id$=employ_color]{
    color: #299617;
    font-family: "Arial";
    
}
[id$=email_color]{
    color: #299617;
    font-family: "Arial";
}
[id$=pass_color]{
    color: #299617; 
    font-family: "Arial";
}

[id$=confirm_color]{
    color: #299617;
    font-family: "Arial";
}
[id$=para_three]{
    color: #299617;
    font-family: "Arial";
    
}
[id$=reg_form]{
    color: #299617;
    text-align: center;
    font-family: "Trebuchet MS";
}
[id$=head2Reg]{
    color: #299617;
    text-align: center;
    font-family: "Trebuchet MS";
}

[id$=reg_form]{
    align-content: center;
}